@model PagedList.IPagedList<PostViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = Resource.BlogTitle;
}

<section id="page-title" style="padding:25px 0">
    <div class="container clearfix text-center">
        <h3>@Resource.WeeklyTitle</h3>
    </div>
</section><!-- #page-title end -->
<!-- Google Map
============================================= -->
<section id="google-map" class="slider-parallax"></section>

<section id="page-title" style="padding:25px 0">
    <div class="container clearfix text-center">
        <h3>@Resource.WeeklyTitle2</h3>
    </div>
</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Post Content
            ============================================= -->
            <div class="postcontent nobottommargin clearfix">

                <!-- Posts
                ============================================= -->
                <div id="posts" class="post-grid grid-container grid-3 clearfix" data-layout="fitRows">
                    @foreach (var post in Model)
                    {
                        <div class="entry clearfix">
                            @Html.Partial("_PostPartial", post)
                        </div>
                    }

                </div><!-- #posts end -->
                <!-- Pagination
                ============================================= -->
                <div class="text-center">
                    @Html.PagedListPager(Model, page => Url.Action("Blog", new { page }))
                </div>
                @*<ul class="pager nomargin">
                        <li class="previous"><a href="#">&larr; Older</a></li>
                        <li class="next"><a href="#">Newer &rarr;</a></li>
                    </ul>*@<!-- .pager end -->

            </div><!-- .postcontent end -->
            <!-- Sidebar
            ============================================= -->
            <div class="sidebar nobottommargin col_last clearfix">
                <div class="sidebar-widgets-wrap">
                    <div id="shortcodes" class="widget widget_links clearfix">
                        <div class="widget clearfix">
                            <h4 class="highlight-me">@Resource.AreaTitle</h4>
                            <ul>
                                @foreach (Area a in ViewBag.Areas)
                                {
                                    <li><a href="@Url.Action("Search",new { a = a.Id})"><div>@a.Name</div></a></li>
                                }
                            </ul>
                        </div>
                      </div>
                </div>
                <div class="sidebar-widgets-wrap">
                    <div class="widget clearfix">

                        <div class="tabs nobottommargin clearfix" id="sidebar-tabs">

                            <ul class="tab-nav clearfix">
                                <li><a href="#tabs-1">@Resource.PostLatestsTitle</a></li>
                                @*
                                    <li><a href="#tabs-2">Recent</a></li>*@
                            </ul>

                            <div class="tab-container">

                                <div class="tab-content clearfix" id="tabs-1">
                                    <div id="popular-post-list-sidebar">

                                        @foreach (PostViewModel post in ViewBag.RecentPosts)
                                        {
                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    @if (post.PostMedia.First().Type == PostType.Image)
                                                    {
                                                        <a href="@Url.Action(" Post",new { id=post.Id})" class="nobg"><img class="img-circle" src="@post.PostMedia.First().MediaUrl" alt="@post.Title"></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action(" Post",new { id=post.Id})" class="nobg"><i class="icon icon-play-circle"></i></a>
                                                    }
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="@Url.Action(" Post",new { id=post.Id})">@post.Title</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li>
                                                            <i class="icon-folder-open"></i>
                                                            @foreach (var cat in post.CategoryNames)
                                                            {
                                                                <a href="#">@cat</a>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }

                                    </div>
                                </div>
                                @*<div class="tab-content clearfix" id="tabs-2">
                                        <div id="recent-post-list-sidebar">

                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="#" class="nobg"><img class="img-circle" src="images/magazine/small/1.jpg" alt=""></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li>10th July 2014</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="#" class="nobg"><img class="img-circle" src="images/magazine/small/2.jpg" alt=""></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li>10th July 2014</li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    <a href="#" class="nobg"><img class="img-circle" src="images/magazine/small/3.jpg" alt=""></a>
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li>10th July 2014</li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </div>
                                    </div>*@

                            </div>

                        </div>

                    </div>
                </div>

            </div><!-- .sidebar end -->

        </div>

    </div>

</section><!-- #content end -->
@section Scripts{
    <script>
        function initMap() {

            // Create a new StyledMapType object, passing it an array of styles,
            // and the name to be displayed on the map type control.
            var styledMapType = new google.maps.StyledMapType(
                [
            {
                "elementType": "geometry",
                "stylers": [
                  {
                      "color": "#ebe3cd"
                  }
                ]
            },
            {
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                      "color": "#523735"
                  }
                ]
            },
            {
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                      "color": "#f5f1e6"
                  }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                      "color": "#c9b2a6"
                  }
                ]
            },
            {
                "featureType": "administrative.land_parcel",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                      "color": "#dcd2be"
                  }
                ]
            },
            {
                "featureType": "administrative.land_parcel",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                      "color": "#ae9e90"
                  }
                ]
            },
            {
                "featureType": "landscape.natural",
                "elementType": "geometry",
                "stylers": [
                  {
                      "color": "#dfd2ae"
                  }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "geometry",
                "stylers": [
                  {
                      "color": "#dfd2ae"
                  }
                ]
            },
            {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                      "color": "#93817c"
                  }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "geometry.fill",
                "stylers": [
                  {
                      "color": "#a5b076"
                  }
                ]
            },
            {
                "featureType": "poi.park",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                      "color": "#447530"
                  }
                ]
            },
            {
                "featureType": "road",
                "stylers": [
                  {
                      "visibility": "off"
                  }
                ]
            },
            {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                  {
                      "color": "#f5f1e6"
                  }
                ]
            },
            {
                "featureType": "road.arterial",
                "elementType": "geometry",
                "stylers": [
                  {
                      "color": "#fdfcf8"
                  }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                  {
                      "color": "#f8c967"
                  }
                ]
            },
            {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                      "color": "#e9bc62"
                  }
                ]
            },
            {
                "featureType": "road.highway.controlled_access",
                "elementType": "geometry",
                "stylers": [
                  {
                      "color": "#e98d58"
                  }
                ]
            },
            {
                "featureType": "road.highway.controlled_access",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                      "color": "#db8555"
                  }
                ]
            },
            {
                "featureType": "road.local",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                      "color": "#806b63"
                  }
                ]
            },
            {
                "featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [
                  {
                      "color": "#dfd2ae"
                  }
                ]
            },
            {
                "featureType": "transit.line",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                      "color": "#8f7d77"
                  }
                ]
            },
            {
                "featureType": "transit.line",
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                      "color": "#ebe3cd"
                  }
                ]
            },
            {
                "featureType": "transit.station",
                "elementType": "geometry",
                "stylers": [
                  {
                      "color": "#dfd2ae"
                  }
                ]
            },
            {
                "featureType": "water",
                "elementType": "geometry.fill",
                "stylers": [
                  {
                      "color": "#b9d3c2"
                  }
                ]
            },
            {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                      "color": "#92998d"
                  }
                ]
            }
                ],
                { name: 'Styled Map' });

            // Create a map object, and include the MapTypeId to add
            // to the map type control.
            var map = new google.maps.Map(document.getElementById('google-map'), {
                center: { lat: 38.939, lng: 35.406 },
                zoom: 6,
                scrollwheel: false,
                navigationControl: false,
                mapTypeControl: false,
                scaleControl: false,
                draggable: true,
                mapTypeControlOptions: {
                    mapTypeIds: ['roadmap', 'satellite', 'hybrid', 'terrain',
                            'styled_map']
                }
            });
            //Associate the styled map with the MapTypeId and set it to display.
            map.mapTypes.set('styled_map', styledMapType);
            map.setMapTypeId('styled_map');
            @foreach (var p in (ViewBag.AllPosts as List<PostViewModel>))
            {
                string imgContent = p.PostMedia.First().Type == PostType.Image ? "<a href='" + Url.Action("Post", new { id = p.Id }) + "' class='nobg'><img src='" + p.PostMedia.First().MediaUrl+ "' alt=''></a>"
                    :"<a href='" + Url.Action("Post",new { id=p.Id}) + "' class='nobg'><i class='icon icon-play-circle'></i></a>";
                @:var contentString = '<div id="content">' +
                @:'<div class="spost clearfix">' +
                @:'<div class="entry-image">' +
                @:"@(MvcHtmlString.Create(imgContent))" +
                @:'</div>' +
                @:'<div class="entry-c">' +
                @:'<div class="entry-title">' +
                @:'<h4><a href="@Url.Action("Post", new { id = p.Id })">@p.Title</a></h4>' +
                @:'</div>' +
                @:'<ul class="entry-meta">' +
                @:'<li>@p.DateCreated.ToShortDateString()</li>' +
                @:'</ul>' +
                @:'</div>' +
                @:'</div>';
                                                                            @:var infowindow = new google.maps.InfoWindow({
                                                                                                @:    content: contentString
                                                                                                @:});
                                                                            @:var myLatlng = new google.maps.LatLng(@(MvcHtmlString.Create(Json.Encode(p.Latitude))),@(MvcHtmlString.Create(Json.Encode(p.Longitude))));
                                                                            @:console.log(myLatlng.lat());
                                                                            @:var marker = new google.maps.Marker({
                                                                                                @:    position: myLatlng,
                                                                                                @:    clickable: true,
                                                                                                @:    map: map,
                                                                                                @:    icon: "/Content/images/icons/map-icon-red.png",
                                                                                                @:    title: '@p.Title'
                                                                                                    @:});
                                                            @:google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
                                                                    @:return function() {
                                                                                       @:    infowindow.open(map, marker);
                                                                            @:};
                                                                    @:})(marker,content,infowindow));
                                                            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBo6xedQToKACcfN2BzV54-3br245ytkBo&callback=initMap">
    </script>
}
