@model PostViewModel
@{
    ViewBag.Title = "Post";
}
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Post Content
            ============================================= -->

                <div class="single-post nobottommargin">

                    <!-- Single Post
                    ============================================= -->
                    <div class="entry clearfix">

                        <!-- Entry Title
                        ============================================= -->
                        <div class="entry-title">
                            <h2 style="text-transform:none">@Model.Title</h2>
                        </div><!-- .entry-title end -->
                        <!-- Entry Meta
                        ============================================= -->
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> @Model.DateCreated.ToShortDateString()</li>
                            <li><a href="#"><i class="icon-user"></i> @Model.Author</a></li>
                            <li>
                                <i class="icon-folder-open"></i>
                                @foreach (var cat in Model.CategoryNames)
                                {
                                    <a href="#">@cat</a>
                                }
                            </li>
                            @*<li><a href="#"><i class="icon-comments"></i> 43 Comments</a></li>*@
                            @*<li><a href="#"><i class="icon-camera-retro"></i></a></li>*@
                        </ul><!-- .entry-meta end -->
                        <!-- Entry Image
                        ============================================= -->
                        @*<div class="entry-image">
                                @if (Model.PostType == PostType.Image)
                                {
                                    <a href="#"><img src="@Model.MediaURL" alt="@Model.Title"></a>
                                }
                                else
                                {
                                    <iframe src="@Model.MediaURL" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                }
                            </div>*@
                        <div class="col_full portfolio-single-image">
                            <div class="fslider" data-arrows="true" data-animation="slide">
                                <div class="flexslider">
                                    <div class="slider-wrap">
                                        @foreach (var pm in Model.PostMedia)
                                        {
                                            if (pm.Type == PostType.Image)
                                            {
                                                <div class="slide">
                                                    <a href="#">
                                                        <img src="@pm.MediaUrl" alt="@Model.Title">
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="slide">
                                                    <a href="#">
                                                        <iframe src="@pm.MediaUrl" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                                    </a>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div><!-- .portfolio-single-image end -->
                        <!-- .entry-image end -->
                        <!-- Entry Content
                        ============================================= -->
                        <div class="entry-content notopmargin">
                            @MvcHtmlString.Create(Model.Body)
                            <!-- Post Single - Content End -->
                            <!-- Tag Cloud
                            ============================================= -->
                            <div class="tagcloud clearfix bottommargin">
                                @foreach (var tag in Model.TagNames)
                                {
                                    <a href="#">@tag</a>
                                }
                            </div><!-- .tagcloud end -->

                            <div class="clear"></div>

                            <!-- Post Single - Share
                            ============================================= -->
                            <div class="si-share noborder clearfix">
                                <span>@Resource.PostShareText</span>
                                <div>
                                    <a href="#" class="social-icon si-borderless si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-pinterest">
                                        <i class="icon-pinterest"></i>
                                        <i class="icon-pinterest"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-rss">
                                        <i class="icon-rss"></i>
                                        <i class="icon-rss"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-email3">
                                        <i class="icon-email3"></i>
                                        <i class="icon-email3"></i>
                                    </a>
                                </div>
                            </div><!-- Post Single - Share End -->

                        </div>
                    </div><!-- .entry end -->

                    <h4>@Resource.PostRelatedText:</h4>

                    <div class="row">
                        @foreach (PostViewModel post in ViewBag.RelatedPosts)
                        {
                            <div class="col-md-4 col-sm-6 bottommargin fixed_height_320">
                                <div class="ipost clearfix">
                                    @Html.Partial("_PostPartial", post)
                                </div>
                            </div>
                        }
                    </div>
                </div>

            <!-- Sidebar
            ============================================= -->
            <!-- .sidebar end -->

        </div>

    </div>

</section><!-- #content end -->
