@model PostViewModel
@{
    ViewBag.Title = "Post";
}
<header id="header" class="full-header semi-transparent dark">

    <div id="header-wrap">

        <div class="container clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= dummy -->
            <div id="logo">
                <a href="/" class="standard-logo" data-dark-logo="/Content/img/iconlogowhite.png"><img src="~/Content/img/iconlogowhite.png" alt="Canvas Logo"></a>
                <a href="/" class="retina-logo" data-dark-logo="/Content/img/iconlogowhite.png"><img src="~/Content/img/iconlogowhite.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->
            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">
                <ul>
                    <li>
                        <a href="@Url.Action("Index","Home")"><div>USTAMDAN</div></a>
                    </li>
                    <li class="current">
                        <a href="@Url.Action("Blog","Home")"><div>@Resource.BlogTitle</div></a>
                    </li>
                    <li class="current">
                        <a href="@Url.Action("About","Home")"><div>@Resource.OurStoryTitle</div></a>
                    </li>
                    <li class="current">
                        <a href="@Url.Action("Contact","Home")"><div>@Resource.ContactTitle</div></a>
                    </li>
                    <li class="current">
                        @Url.LangSwitcher(Resource.LanguageTitle, ViewContext.RouteData, Resource.LanguageTitle)
                        @*<a href="@Url.Action("Index","Home")"><div>EN</div></a>*@
                    </li>
                </ul>

                <!-- Top Search
                ============================================= -->
                <div id="top-search">
                    <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                    <form action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="@Resource.SearchText">
                    </form>
                </div><!-- #top-search end -->

            </nav><!-- #primary-menu end -->

        </div>

    </div>

</header>

<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <!-- Post Content
            ============================================= -->
            <div class="postcontent nobottommargin clearfix">

                <div class="single-post nobottommargin">

                    <!-- Single Post
                    ============================================= -->
                    <div class="entry clearfix">

                        <!-- Entry Title
                        ============================================= -->
                        <div class="entry-title">
                            <h2 style="text-transform:none">@Model.Title</h2>
                        </div><!-- .entry-title end -->
                        <!-- Entry Meta
                        ============================================= -->
                        <ul class="entry-meta clearfix">
                            <li><i class="icon-calendar3"></i> @Model.DateCreated.ToShortDateString()</li>
                            <li><a href="#"><i class="icon-user"></i> @Model.Author</a></li>
                            <li>
                                <i class="icon-folder-open"></i>
                                @foreach (var cat in Model.CategoryNames)
                                {
                                    <a href="#">@cat</a>
                                }
                            </li>
                            @*<li><a href="#"><i class="icon-comments"></i> 43 Comments</a></li>*@
                            @*<li><a href="#"><i class="icon-camera-retro"></i></a></li>*@
                        </ul><!-- .entry-meta end -->
                        <!-- Entry Image
                        ============================================= -->
                        <div class="entry-image">
                            @if (Model.PostType == PostType.Image)
                            {
                                <a href="#"><img src="@Model.MediaURL" alt="@Model.Title"></a>
                            }
                            else
                            {
                                <iframe src="@Model.MediaURL" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            }
                        </div><!-- .entry-image end -->
                        <!-- Entry Content
                        ============================================= -->
                        <div class="entry-content notopmargin">
                            @MvcHtmlString.Create(Model.Body)
                            <!-- Post Single - Content End -->
                            <!-- Tag Cloud
                            ============================================= -->
                            <div class="tagcloud clearfix bottommargin">
                                @foreach (var tag in Model.TagNames)
                                {
                                    <a href="#">@tag</a>
                                }
                            </div><!-- .tagcloud end -->

                            <div class="clear"></div>

                            <!-- Post Single - Share
                            ============================================= -->
                            <div class="si-share noborder clearfix">
                                <span>Share this Post:</span>
                                <div>
                                    <a href="#" class="social-icon si-borderless si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-pinterest">
                                        <i class="icon-pinterest"></i>
                                        <i class="icon-pinterest"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-rss">
                                        <i class="icon-rss"></i>
                                        <i class="icon-rss"></i>
                                    </a>
                                    <a href="#" class="social-icon si-borderless si-email3">
                                        <i class="icon-email3"></i>
                                        <i class="icon-email3"></i>
                                    </a>
                                </div>
                            </div><!-- Post Single - Share End -->

                        </div>
                    </div><!-- .entry end -->

                    <h4>Related Posts:</h4>

                    <div class="row">
                        @foreach (PostViewModel post in ViewBag.RelatedPosts)
                        {
                            <div class="col-md-4 col-sm-6 bottommargin">
                                <div class="ipost clearfix">
                                    <div class="entry-image">
                                        @if (post.PostType == PostType.Image)
                                        {
                                            <a href="#"><img class="image_fade" src="@post.MediaURL" alt="@post.Title"></a>
                                        }
                                        else
                                        {
                                            <iframe src="@post.MediaURL" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        }
                                    </div>
                                    <div class="entry-title">
                                        <h3><a href="@Url.Action("Post",new {id=post.Id })">@post.Title</a></h3>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li><i class="icon-calendar3"></i> @post.DateCreated.ToShortDateString()</li>
                                        <li>
                                            <i class="icon-folder-open"></i>
                                            @foreach (var cat in post.CategoryNames)
                                            {
                                                <a href="#">@cat</a>
                                            }
                                        </li>
                                        @*<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 53</a></li>*@
                                    </ul>
                                    <div class="entry-content">
                                        <p>@MvcHtmlString.Create(post.Body.Substring(0, 100))...</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div><!-- .postcontent end -->
            <!-- Sidebar
            ============================================= -->
            <div class="sidebar nobottommargin col_last clearfix">
                <div class="sidebar-widgets-wrap">
                    <div class="widget clearfix">

                        <div class="tabs nobottommargin clearfix" id="sidebar-tabs">

                            <ul class="tab-nav clearfix">
                                <li><a href="#tabs-1">Recent</a></li>
                                <li><a href="#tabs-2">Related</a></li>
                            </ul>

                            <div class="tab-container">

                                <div class="tab-content clearfix" id="tabs-1">
                                    <div id="popular-post-list-sidebar">
                                        @foreach (PostViewModel post in ViewBag.RecentPosts)
                                        {
                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    @if (post.PostType == PostType.Image)
                                                    {
                                                        <a href="#" class="nobg"><img class="img-circle" src="@post.MediaURL" alt="@post.Title"></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("Post",new { id=post.Id})" class="nobg"><i class="icon icon-play-circle"></i></a>
                                                    }
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="@Url.Action("Post",new { id=post.Id})">@post.Title</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li>
                                                            <i class="icon-folder-open"></i>
                                                            @foreach (var cat in post.CategoryNames)
                                                            {
                                                                <a href="#">@cat</a>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="tab-content clearfix" id="tabs-2">
                                    <div id="recent-post-list-sidebar">
                                        @foreach (PostViewModel post in ViewBag.RelatedPosts)
                                        {
                                            <div class="spost clearfix">
                                                <div class="entry-image">
                                                    @if (post.PostType == PostType.Image)
                                                    {
                                                        <a href="#" class="nobg"><img class="img-circle" src="@post.MediaURL" alt="@post.Title"></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="@Url.Action("Post",new { id=post.Id})" class="nobg"><i class="icon icon-play-circle"></i></a>
                                                    }
                                                </div>
                                                <div class="entry-c">
                                                    <div class="entry-title">
                                                        <h4><a href="@Url.Action("Post",new { id=post.Id})">@post.Title</a></h4>
                                                    </div>
                                                    <ul class="entry-meta">
                                                        <li>@Model.DateCreated.ToShortDateString()</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="widget clearfix">

                        <h4>Tag Cloud</h4>
                        <div class="tagcloud">
                            @foreach (var tag in Model.TagNames)
                            {
                                <a href="#">@tag</a>
                            }
                        </div>

                    </div>

                </div>

            </div><!-- .sidebar end -->

        </div>

    </div>

</section><!-- #content end -->